div {
    margin-left: 100px;
    margin-right: 100px;
    background:url(./herbe.png);
}

body {
    margin: 50px;
    background: #333;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.taupe {
    background: brown;
    border-radius: 80px;
}